<html>

<head>

<meta charset="UTF-8">

<title></title>

<link rel="stylesheet" type="text/css" href="css/index.css"/>

<script type="text/javascript" src="js/index.js"></script>

<body>
<div id="header">             

        <ul id="nav">

            <li><a href="#">首页</a></li>    

            <li><a href="#">博雅游戏</a></li>

            <li><a href="#">博雅新闻</a></li>

            <li><a href="#">关于我们</a></li>

            <li><a href="#">客服中心</a></li>

            <li><a href="#">投资者关系</a></li>

            <li><a href="#">加入我们</a></li>

            <li><a href="#">中文</a></li>

            <li><a href="#">EN</a></li>

        </ul>
        <img src="img/newsbanner.jpg" alt="" id="logo"/>
    </div>    

<div id="container">              
    <div id="main">
        <div id="lside">
            <div class="subtitle">
                <h1>博雅新闻</h1>

                     <a href="http://localhost:9999/list">返回列表>></a>
            </div>


            <div class="main_new" class="main_new_2">
                <ul class= "new_2">
                    {{range $_, $news := .}}
                        <li><a href="http://localhost:9999/detail?id={{$news.Id}}">{{$news.Title}}</a></li>
                    {{end}}

                </ul>
            </div>


        </div>

        <div id="rside">
            <div class="subtitle">
                <h1>博雅香港上市专题</h1>
                <a href="http://localhost:9999/search">MORE>></a>
            </div>
            <div>
                <a href="#"><img src="img/npic1.jpg"></a>
                
            </div>

        </div>

    </div>

</div>


{{/*<div class="foot">*/}}
    {{/*<p class="p1">*/}}
        {{/*<a href="index.html" class="on">博雅官网</a>&nbsp;|&nbsp;<a href="game.html">游戏下载</a>&nbsp;|&nbsp;<a href="announce.html">免责声明</a>&nbsp;|&nbsp;<a href="jubao.html">监督举报</a>*/}}
    {{/*</p>*/}}
    {{/*<p class="p2">Copyright © 2004 - 2019 博雅互动(Boyaa Interactive)</p>*/}}
    {{/*<p class="p2">网络文化经营许可证：粤网文[2015]1991-405号 | 互联网出版许可证：新出网证（粤）字062号 | 增值电信业务经营许可证：粤B2-20110513*/}}
    {{/*</p>*/}}
{{/*</div>*/}}

</body>

</html>