 #container {
 float: none;
 margin: 240px auto;

 width: 1002px;

 }

 ul li{
list-style-type:none;
}

 #header {

    height: 50px;
  background: #191d3a;

 }

#nav{
    margin-left: 120px;
}

 #nav li {

    float: left;
    width: 110px;
    margin-right: 20px;
    margin-top: 16px;

 }

 

 #nav a {

     font-size: 16px;

     font-family: "微软雅黑";

     color: #e2e4ed;

      display: block;

      height: 37px;

      width: 90px;

     text-align: center;
    text-decoration: none;
 }

 #logo {
    /*height: 200px;*/
    margin-top: -10px;
 }

 #nav a:hover {


  color: white;


 }


 #main{
padding-top: 40px;
 height: 300px;                  

 }

 

.subtitle{

 height: 37px;


 }

 

 .subtitle h1{

 float:left;

 font-size: 16px;                           /*12对标题中字体进行设置*/

  font-family: "微软雅黑",simhei,sans-serif;

 margin-left:10px;

 }

 .subtitle a{

 float: right;

 font-size: 12px;                            

  color: gray;

 }

.main_new{

width: 630px;

height: 300px;

background: #EEE;                

float: left;

margin: 10px;

}

.main_new_2{
    float: left;
    width: 630px;
    height: 600px;
}

.main_new h2{

font-size: 16px;

font-family: "微软雅黑";

margin: 6px 0 6px 10px;                   

}


.main_new ul{

float: left;

margin-left: 10px;

}

.main_new li{

padding-left: 10px;                           

height: 20px;

}

.main_new a{

color: gray;                                   

}

 

#lside{

height: 480px;

width: 694px;

border: 1px solid #d1dce7;

float: left;                           

border-bottom: none;
border-left: none

}

 

#rside{
border-top: 1px solid #d1dce7;
width: 294px;

margin-right: 10px;
float: right;                           


}

 
#rside img{
    margin-left: 40px;
}


.foot{
    padding-top: 20px;
    padding-bottom: 20px;
margin-top: 500px;
height: 300px;
width:1024px;
 background: #191d3a;
 color: #abafd0;
 font-size: 10px;
}

.foot p {
   
    margin-left: 450px
}
.foot p a {
    color: #abafd0;
    text-decoration: none;
}

.page{
  float: left;
  height: 30px;
  width:1024px;
}

.ul_page li{
  margin-left: 100px;
  padding-left: 20px;
  float: left;
  font-size: 16px;

      display: block;
     text-align: center;
}

.ul_page li a{
  color: #191d3a;
  text-decoration: none;
}